body {
    min-height: 100vh;
}

header {
    background-color: #A5A58D;
}

header a {
    text-decoration: none;
    color: inherit;
}

.header-logo img {
    max-width: 42px;
    margin-right: 5px;
}

.header-nav a {
    margin-right: 2rem;
}

header nav a:hover {
    text-decoration: underline;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 0 10px;
}

main {
    background-color: #FFF1E6;
}

main h2 {
    margin-top: 0;
}

/* design profil picture 80x80 */
.team-picture {
    max-width: 160px;
    border-radius: 15px;
}

footer {
    padding: 1.5rem 0;
    text-align: center;
    background-color: #EDDCD2;
}